.threeCardPullDiv{
    display: grid;
    align-items: start;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto auto;
    margin: auto;
    grid-gap: 10px;
    justify-content: center;
  }

.threeCardPullCards {
    margin-top: 10px;
}

.clarity {
  font-style: italic;
}

img {
  width: 100%;
}

.returnHome {
    background-color: #CE9647;
    color: black;
    padding: 10px;
    border-radius: 25px;
    font-size: 16px;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
}